POSTGRES_DB=relay
POSTGRES_USER=
POSTGRES_PASSWORD=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

S3_ENDPOINT=http://minio:9000
S3_REGION=ap-northeast-1
S3_BUCKET_NAME=videos

SQS_ENDPOINT=http://elasticmq:9324
SQS_QUEUE_URL=http://elasticmq:9324/000000000000/transcoding-jobs
# Not required for local development (ElasticMQ accepts any credentials)
# Required in production when using AWS SQS
SQS_ACCESS_KEY_ID=
SQS_SECRET_ACCESS_KEY=
