# ========================
# Environment
# ========================
**/.env
**/.env.local
**/.env.*.local

# ========================
# Backend
# ========================
backend/target/

# ========================
# Frontend
# ========================
frontend/node_modules/
frontend/dist/
frontend/.svelte-kit/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
